@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can view your patients, devices, sessions by navigating to differnt tabs</p>
</div>
