.patient-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}

.patient-card:hover {
    background-color: #EEE;
}

.patient-card__icon {
    margin: 0 0.5rem;
}

.patient-card__name {
    text-transform: capitalize;
}